/* 팝업 스타일 */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
    max-width: 90%;
    max-height: 90%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .popup-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .popup-close {
    cursor: pointer;
    font-size: 24px;
  }
  
  .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .popup-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .popup-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
  }
  
  .popup-prev,
  .popup-next {
    cursor: pointer;
    font-size: 24px;
    border: none;
    background-color: transparent;
  }
  
  .popup-prev:focus,
  .popup-next:focus {
    outline: none;
  }
  
  .popup-prev:hover,
  .popup-next:hover {
    color: #555;
  }
  
  /* 갤러리 스타일 */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .gallery-item {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .gallery-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  