/*리퀘스트 팝업의 버튼 디자인을 위한 구문*/
#fashion-request_cancel {
  border: 1px outset black; /* 1px 두께의 검은색 실선 테두리 추가 */
  border-top-color: white;
  border-left-color: white;
  border-radius: 0px;
  padding: 3px 15px; /* 버튼 내부의 여백 조절 */
}

#stylist-request_cancel{
  border: 1px outset black; /* 1px 두께의 검은색 실선 테두리 추가 */
  border-top-color: white;
  border-left-color: white;
  border-radius: 0px;
  padding: 3px 15px; /* 버튼 내부의 여백 조절 */
}

#btnSubmit{
  border: 2.2px outset black; /* 1px 두께의 검은색 실선 테두리 추가 */
  border-right: 2.4px outset black;
  border-bottom: 2.3px outset black;
  border-radius: 0px;
  padding: 3px 15px; /* 버튼 내부의 여백 조절 */
}

.outline_btn {
  background-color: transparent;
  border-color: black;
}

#button_radius {
  background-color: transparent;
  border-color:black;
}

#popup1 {
    position: absolute;
    top: 0%; /*location of popup*/
    left: 70px; /*location of popup*/    
    min-width: 300px;
    max-width: 450px;
    width: 40%;
    height: 75%;
    background-color: transparent;
    /*background-color: rgba(0,0,0,0);*/
}
  
#popup-content1 {
    position: absolute;
    top: 65%;
    left: 50%;
    min-width: 300px;
    max-width: 450px;
    transform: translate(-50%,-50%);
    background-color: white;
    width: inherit;
    height: 70%;
    padding: 17%;
    text-align: center;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    
    text-align: center;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap; /* add this property */
}

#popup-content1 div {
  display: inline-block; /* add this property */
  vertical-align: top; /* add this property to align top */
}

#popup-content1_exit {
  position: absolute;
  top: calc(65% - 35px);
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: #a09fa5;
  /*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
  /*background: linear-gradient(to left,
  lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
}


#hide-popup1 {
    padding: 10px;
    background-color: transparent;
    border: none;
}



/* fashion 팝업을 위한 코드 */
#fashion {
  position: absolute;
  top: 0%; /*location of popup*/
  left: 70px; /*location of popup*/    
  min-width: 300px;
  max-width: 450px;
  width: 40%;
  height: 75%;
  background-color: transparent;
  /*background-color: rgba(0,0,0,0);*/
}

#popup-fashion {
  position: absolute;
  top: 65%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#popup-fashion_exit {
position: absolute;
top: calc(65% - 30px);
left: 50%;
min-width: 300px;
max-width: 450px;
transform: translate(-50%,-50%);
background-color: gray;
/*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
/*background: linear-gradient(to left,
lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
width: inherit;
height: 70%;
padding: 17%;
text-align: center;
overflow: hidden;
overflow-x: hidden;
}


#hide-fashion {
  padding: 10px;
  background-color: transparent;
  border: none;
}


/* fashion 하위 갤러리 팝업을 위한 코드 */
#popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
}

#gallery {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 80%;
	width: 80%;
}
/*
#gallery {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 80%;
	width: 80%;
}*/

#gallery img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}



#close-button {
	position: absolute;
	height: 50%;
	width: 50%;
	background-color: transparent;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
  color:transparent;
}

#prev-button, #next-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 50px;
	width: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#prev-button {
	left: 10%;
}

#next-button {
	right: 10%;
}


/* stylist 팝업을 위한 코드 */
#stylist {
  position: absolute;
  top: 0%; /*location of popup*/
  left: 70px; /*location of popup*/    
  min-width: 300px;
  max-width: 600px;
  width: 60%;
  height: 85%;
  background-color: transparent;
  /*background-color: rgba(0,0,0,0);*/
}

#popup-stylist {
  position: absolute;
  top: 65%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#popup-stylist_exit {
position: absolute;
top: calc(65% - 30px);
left: 50%;
min-width: 300px;
max-width: 450px;
transform: translate(-50%,-50%);
background-color: gray;
/*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
/*background: linear-gradient(to left,
lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
width: inherit;
height: 70%;
padding: 17%;
text-align: center;
overflow: hidden;
overflow-x: hidden;
}


#hide-stylist {
  padding: 10px;
  background-color: transparent;
  border: none;
}


/* stylist 하위 비디오 팝업을 위한 코드 */
.video_popup {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
  top : 30%;
  }
  
  .video_popupContent {
	background-color: transparent;
	margin: 10% auto;
	/*border: 1px solid #888;*/
	width: 100%;
	height: 30%;
  }
  
  .video_close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
/* ----------------첫 번째 팝업 관련 코드 끝---------------- */









/* -----------------두 번째 팝업 관련 코드 시작 ---------------- */
#popup2 {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 30%;
    height: 70%;
    /*background-color: rgba(0,0,0,0);*/
    min-width: 300px;
    max-width: 450px;
    width: 40%;
    height: 75%;
    background-color: transparent;
    /*background-color: rgba(0,0,0,0);*/
}
  
#popup-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 350px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: #9b97c6;
  /*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
  /*background: linear-gradient(to left,
  lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
  width: inherit;
  height: 80%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#popup-content2-title {
  position:relative;
  right: 13%;
  width : 130%;
  height: 60px;
  background-color: #b5b1e3;
  align-items: center;
}

#popup-content2_exit {
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  min-width: 350px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: gray;
  width: inherit;
  height: 80%;
  padding: 17%;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
}

#hide-popup2 {
    padding: 10px;
    background-color: transparent;
    border: none;
}


/* 기존 팝업2 위치

#popup2 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 30%;
    height: 70%;
    
    min-width: 300px;
    max-width: 450px;
    width: 40%;
    height: 75%;
    background-color: transparent;
}
  
#popup-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: inherit;
  height: 80%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#popup-content2_exit {
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: gray;
  width: inherit;
  height: 80%;
  padding: 17%;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
}

#hide-popup2 {
    padding: 10px;
    background-color: transparent;
    border: none;
}

*/


/* ----------------두 번째 팝업 관련 코드 끝---------------- */












/* -----------------세 번째 팝업 관련 코드 시작 ---------------- */
#popup3 {
  position: absolute;
  top: 12%; /*location of popup*/
  left: 18%; /*location of popup*/    
  min-width: 300px;
  max-width: 450px;
  width: 40%;
  height: 70%;
  background-color: transparent;
  /*background-color: rgba(0,0,0,0);*/
}

#popup-content3 {
  position: absolute;
  top: 65%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#popup-content3_exit {
position: absolute;
top: calc(65% - 30px);
left: 50%;
min-width: 300px;
max-width: 450px;
transform: translate(-50%,-50%);
background-color: gray;
/*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
/*background: linear-gradient(to left,
lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
width: inherit;
height: 70%;
padding: 17%;
text-align: center;
overflow: hidden;
overflow-x: hidden;
}


#hide-popup3 {
  padding: 10px;
  background-color: transparent;
  border: none;
}


#workingorder_fashion {
  position: absolute;
  top: 12%; /*location of popup*/
  left: 18%; /*location of popup*/    
  min-width: 300px;
  max-width: 450px;
  width: 50%;
  height: 70%;
  background-color: transparent;
  /*background-color: rgba(0,0,0,0);*/
}

#workingorder_fashion-content {
  position: absolute;
  top: 65%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border:10px groove;
}

#workingorder_fashion-content_exit {
position: absolute;
top: calc(60% - 33px);
left: 50%;
min-width: 310px;
max-width: 470px;
transform: translate(-50%,-50%);
background-color: #0000ac;
width: inherit;
height: 70%;
padding: 17%;
text-align: center;
overflow: hidden;
overflow-x: hidden;
border-color:#c8cccf;
border-width:5px;
border-style:solid;
}

#workingorder_fashion-content_filename {
  position: absolute;
  top: calc(65% - 37px);
  left: 50%;
  min-width: 320px;
  max-width: 470px;
  transform: translate(-50%,-50%);
  background-color: #bfc7ca;
  /*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
  /*background: linear-gradient(to left,
  lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
  }


#hide-workingorder_fashion {
  padding: 10px;
  background-color: transparent;
  border: none;
}



#workingorder_stylist {
  position: absolute;
  top: 12%; /*location of popup*/
  left: 18%; /*location of popup*/    
  min-width: 300px;
  max-width: 450px;
  width: 40%;
  height: 70%;
  background-color: transparent;
  /*background-color: rgba(0,0,0,0);*/
}

#workingorder_stylist-content {
  position: absolute;
  top: 65%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border:10px groove;
}

#workingorder_stylist-content_exit {
  position: absolute;
  top: calc(60% - 33px);
  left: 50%;
  min-width: 310px;
  max-width: 470px;
  transform: translate(-50%,-50%);
  background-color: #0000ac;
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
  border-color:#c8cccf;
  border-width:5px;
  border-style:solid;
}

#workingorder_stylist-content_filename {
  position: absolute;
  top: calc(65% - 37px);
  left: 50%;
  min-width: 320px;
  max-width: 470px;
  transform: translate(-50%,-50%);
  background-color: #bfc7ca;
  /*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
  /*background: linear-gradient(to left,
  lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;

}


#hide-workingorder_stylist {
  padding: 10px;
  background-color: transparent;
  border: none;
}


/* ----------------세 번째 팝업 관련 코드 끝---------------- */















/* -----------------네 번째 팝업 관련 코드 시작 ---------------- */
#popup4 {
  position: absolute;
  top: 20%; /*location of popup*/
  left: 24%; /*location of popup*/    
  min-width: 300px;
  max-width: 450px;
  width: 40%;
  height: 65%;
  background-color: transparent;
  /*background-color: rgba(0,0,0,0);*/
}

#popup-content4 {
  position: absolute;
  top: 65%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#popup-content4_exit {
position: absolute;
top: calc(65% - 30px);
left: 50%;
min-width: 300px;
max-width: 450px;
transform: translate(-50%,-50%);
background-color: gray;
/*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
/*background: linear-gradient(to left,
lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
width: inherit;
height: 70%;
padding: 17%;
text-align: center;
overflow: hidden;
overflow-x: hidden;
}


#hide-popup4 {
  padding: 10px;
  background-color: transparent;
  border: none;
}


#request_fashion {
  position: absolute;
  top: 20%; /*location of popup*/
  left: 24%; /*location of popup*/    
  min-width: 300px;
  max-width: 450px;
  width: 40%;
  height: 65%;
  background-color: transparent;
  /*background-color: rgba(0,0,0,0);*/
}

#request_fashion-content {
  position: absolute;
  top: 65%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#request_fashion-content_exit {
position: absolute;
top: calc(65% - 30px);
left: 50%;
min-width: 300px;
max-width: 450px;
transform: translate(-50%,-50%);
background-color: gray;
/*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
/*background: linear-gradient(to left,
lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
width: inherit;
height: 70%;
padding: 17%;
text-align: center;
overflow: hidden;
overflow-x: hidden;
}


#hide-request_fashion {
  padding: 10px;
  background-color: transparent;
  border: none;
}


#request_stylist {
  position: absolute;
  top: 20%; /*location of popup*/
  left: 24%; /*location of popup*/    
  min-width: 300px;
  max-width: 450px;
  width: 40%;
  height: 65%;
  background-color: transparent;
  /*background-color: rgba(0,0,0,0);*/
}

#request_stylist-content {
  position: absolute;
  top: 65%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: inherit;
  height: 70%;
  padding: 17%;
  text-align: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#request_stylist-content_exit {
position: absolute;
top: calc(65% - 30px);
left: 50%;
min-width: 300px;
max-width: 450px;
transform: translate(-50%,-50%);
background-color: gray;
/*background: linear-gradient(to bottom,  gray 6%,white 6%,white 50%);*/
/*background: linear-gradient(to left,
lime 25%, red 25% 50%, cyan 50% 75%, yellow 75% );*/
width: inherit;
height: 70%;
padding: 17%;
text-align: center;
overflow: hidden;
overflow-x: hidden;
}


#hide-request_stylist {
  padding: 10px;
  background-color: transparent;
  border: none;
}






.line_spacing {
  font-size: 12px;
  line-height: 10%;
}


body {
    /*background-color: #bfbbe6;*/
    
    background-color: #8781bf;
}
  
button { /*버튼 배경 투명으로 바꿔주는 구문*/
    border: none;
    background-color: transparent;
}

button img { /*버튼 이미지에 마우스 커서 대면 손으로 바꿔주는 구문*/
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.grid-image {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    margin:30px 0;
}
.grid-image img {
    width:calc(15% - 10px);
    margin:0 15px 15px 0;
}
.grid-image img:nth-of-type(3n),
.grid-image img:last-child {
    margin-right:0;
}
@media screen and (max-width:640px){
  .grid-image img {
    width:calc(300 - 15px);
  }
}
@media screen and (max-width:480px){
  .grid-image img:nth-of-type(2n) {
    margin-right:0;
  }
  .grid-image img:nth-of-type(3n) {
    margin-right:15px;
  }
}
*/


.scroll-image {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    margin:30px 0;
}
.scroll-image img {
  width:calc(33.333% - 10%);
    /*width:calc(33.333% - 10px);
    margin:0 15px 15px 0;*/
}
.scroll-image img:nth-of-type(3n),
.scroll-image img:last-child {
    margin-right:0;
}
/*
@media screen and (max-width:480px){
  .scroll-image {
    flex-wrap:nowrap;
    justify-content:flex-start;
    position:relative;
    width:114%;
    min-width: 470;
    left:-7%;
    padding:0 7%;
    overflow-y:hidden;
    overflow-x:auto;
    -ms-overflow-style:none;
    -webkit-overflow-scrolling:touch;
  }
  .scroll-image img {
    display:block;
    flex:0 0 auto;
    width:80%;
    margin:0 15px 0 0;
  }
  .scroll-image img:last-of-type{
    margin-right:0;
  }
  .scroll-image:after {
    content:'';
    display:block;
    flex:0 0 auto;
    align-self:stretch;
    width:7%;
  }
}*/



lofifont{
  font-family: 'Press Start 2P', cursive;
  height: 100px;
  font-size: 30px;
}

@font-face {
  font-family: 'lofi1';
  src: url('/assets/PressStart2P-Regular.ttf');
}


@font-face {
  font-family: 'lofi2';
  src: url('/assets/VT323-Regular.ttf');
}

.content {
	margin: 40px;
	width: 700px;
	border: 2px solid blue;
	position: relative;
}

.main_img{
  width:120px;
  height: auto;
  display: flex;
  justify-content: center center;
  background-image: url("main_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


.test{
	background: url("main.jpg");
	
	background-position: center center;
  
  justify-content: center center;
	background-repeat: no-repeat;
	height : 500px; 
  width: 90%;
  margin-top: 3%;

	/* 외부 여백 옵션 
	margin: 50px;*/

	/* 외부 여백 옵션 
	margin: 50px;*/
}





/*-----------메시지 보내기 위한 팝업 창 관련 코드 (4번째 팝업과 상충되니 둘 중 하나 제거할 것 )----*/


#popup-request_overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;
}

#popup-request {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: #bec7cd;
  padding: 20px;
  /*border : 5px solid black;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  align-items: center;
  text-align: center;
  border: -1px solid
}

#popup-request_exit {
  position: absolute;
  top: calc(19%);
  left: 50%;
  width: 50%;
  height: 5%;
  transform: translate(-50%, -50%);
  background-image: url("img/msg_navbar.jpg");
  background-size: cover;
  background-color: #3d02ff;
  padding: 20px; /* padding 값을 추가합니다. */
  /*border : 5px solid #c0c0c0; */
  border-radius: 5px;
  /*box-shadow: 0 0 10px rgba(2, 109, 250, 0.5);*/
  align-items: center;
  text-align: center;
}


#popup-request_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#request_container {
  width: 100%;
}



/*-----------메시지 보내기 위한 팝업 창 관련 코드 (4번째 팝업과 상충되니 둘 중 하나 제거할 것 )----*/


#stylist-request_overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;
}

#stylist-request {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: #bec7cd;
  padding: 20px;
  /*border : 5px solid black;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  align-items: center;
  text-align: center;
  border: 10px groove;
}

#stylist-request_exit {
  position: absolute;
  top: calc(25.5% - 60px);
  left: 50%;
  width: calc(50% + 13px);
  height: 5%;
  transform: translate(-50%, -50%);
  background-image: url("img/msg_navbar.jpg");
  background-size: cover;
  background-color: #0000ac;
  padding: 20px; /* padding 값을 추가합니다. */
  align-items: center;
  text-align: center;
  border-color: #c8cccf;
  border-width: 5px;
  border-style: solid;
}

#stylist-request_filename {
  position: absolute;
  top: calc(26.5% - 33px);
  left: 50%;
  width: calc(50% + 20px);
  height: 5%;
  transform: translate(-50%, -50%);
  background-image: url("img/msg_navbar.jpg");
  background-size: cover;
  background-color: #bfc7ca;
  padding: 20px; /* padding 값을 추가합니다. */
  /*border : 5px solid #c0c0c0; */
  /*box-shadow: 0 0 10px rgba(2, 109, 250, 0.5);*/
  align-items: center;
  text-align: center;

}


#stylist-request_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#stylist_container {
  width: 100%;
}


#fashion-request_overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;
}

#fashion-request {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: #c0c0c0;
  padding: 20px;
  /*border : 5px solid black;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  align-items: center;
  text-align: center;
  border: 10px groove;
}

#fashion-request_exit {
  position: absolute;
  top: calc(25.5% - 60px);
  left: 50%;
  width: calc(50% + 13px);
  height: 5%;
  transform: translate(-50%, -50%);
  background-image: url("img/msg_navbar.jpg");
  background-size: cover;
  background-color: #0000ac;
  padding: 20px; /* padding 값을 추가합니다. */
  align-items: center;
  text-align: center;
  border-color: #c8cccf;
  border-width: 5px;
  border-style: solid;
  }


#fashion-request_filename {
  position: absolute;
  top: calc(26.5% - 33px);
  left: 50%;
  width: calc(50% + 20px);
  height: 5%;
  transform: translate(-50%, -50%);
  background-image: url("img/msg_navbar.jpg");
  background-size: cover;
  background-color: #bfc7ca;
  padding: 20px; /* padding 값을 추가합니다. */
  /*border : 5px solid #c0c0c0; */
  /*box-shadow: 0 0 10px rgba(2, 109, 250, 0.5);*/
  align-items: center;
  text-align: center;

}



#fashion-request_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#fashion_container {
  width: 100%;
}